@import '_variables';
@import '_mixins';
@import '_components';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.active {
    color: $white !important;
}



body {
    font-family: 'Rubik', sans-serif;
    background-color: $Very-dark-blue;
    font-size: 1.5rem;
}

.dashboard {
    padding: 2rem;
    margin: 4rem auto;
    @include grid(repeat(1, 1fr), auto);
    grid-gap: 3rem;
    max-width: 450px;
}


.user {

    color: $white;
    background-color: $Dark-blue;
    @include radius;




    &__heading {
        @include flex(row, start, start, nowrap);
        background-color: $blue;

        @include radius;
        @include boxAdjustment;

        span {
            color: $Pale-Blue;
        }

        h1 {
            font-weight: 300;
            letter-spacing: 1px;
        }
    }

    &__avatar {
        border-radius: 100%;
        border: 2px $white solid;
        width: 5rem;
        margin-right: 1rem
    }

    &__period {
        @include flex(row, center, space-between, nowrap);
        @include boxAdjustment;
        @include radiusTop;

    }

    &__btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: $Desaturated-blue;

        &:hover {
            color: rgb(238, 230, 230)
        }


    }


}

.stat {
    @include boxAdjustment;
    @include flex(column, stretch, flex-end, nowrap);
    padding: 0;
    @include radius;
    overflow: hidden;
    position: relative;


    &__title {
        font-size: 1.6rem;
    }

    &__hours,
    &__title {
        color: $white;
        font-weight: 400;
        align-self: center;
    }

    &__hours {
        font-size: 3rem;

        &--last {
            justify-self: end;
            font-weight: 300;
            font-size: 1.3rem;
            color: $Desaturated-blue;
        }
    }

    &__icon {
        align-self: center;
        justify-self: end;
        cursor: pointer;




    }




    &__box {
        background-color: $Dark-blue;
        @include boxAdjustment;
        @include radiusTop;
        @include grid(repeat(2, 1fr), repeat(2, 1fr));
        height: 70%;
        grid-gap: 1rem;
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
        padding-bottom: 4rem;
        z-index: 1;
        position: relative;
        cursor: pointer;

        &:hover {
            filter: brightness(150%);
        }

    }

    &__img {
        position: absolute;
        top: -1rem;
        right: 3rem;
        z-index: 0;



    }

    &--work {
        background-color: $work;
    }

    &--play {
        background-color: $play;
    }

    &--study {
        background-color: $study;
    }

    &--exercise {
        background-color: $exercise;
    }

    &--social {
        background-color: $social;
    }

    &--selfcare {
        background-color: $care;
    }


}

@media (min-width:1200px) {
    body {
        height: 100vh;
        @include flex(row, center, center, nowrap)
    }

    .dashboard {
        @include grid(repeat(4, 1fr), repeat(2, 1fr));
        width: 95vw;
        height: 60vh;
        max-height: 500px;
        max-width: 1300px;
    }

    .user {
        grid-row: 1/3;
        @include flex(column, stretch, space-around, wrap);

        &__heading {
            @include flex(column, start, space-around, nowrap);
            height: 60%;

            h1 {
                font-size: 3.5rem;
            }
        }

        &__avatar {

            width: 7rem;

        }

        &__period {
            @include flex(column, start, space-between, nowrap);
            flex-grow: 1;
            padding: 3rem 2rem;
        }
    }

    .stat {
        &__box {
            height: 85%;
            @include grid(repeat(2, 1fr), repeat(3, 1fr));
            padding-bottom: 2rem;
        }

        &__hours--last {
            grid-row: 3/4;
            justify-self: start;
        }

    }
}